footer.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 35px;
    background-color: #F0F0F0;
    box-shadow: var(--shadow);
    width: 60%;
    margin: 0 auto 20px auto;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    right: 11%;
}