aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09),
}

aside.menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: 300; /*tamanho da letra*/
    padding: 15px; /*espaçamento*/
}

aside.menu a:hover { /*funções para quando o mause passa por cima*/
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

